<div class="header">
  <div class="nav-cluster">
    <button mat-icon-button *ngIf="data" (click)="onDir('back')" [disabled]="selfIndex <= 0"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button *ngIf="data" (click)="onDir('for')" [disabled]="selfIndex == dataLength && dataLength != undefined"><mat-icon>chevron_right</mat-icon></button>
  </div>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<form [formGroup]="taskForm" class="task-form" mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Group</mat-label>
    <input matInput type="text" formControlName="group">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Level</mat-label>
    <input matInput formControlName="level" type="text" [matAutocomplete]="auto">
    <mat-autocomplete #auto>
      <mat-option *ngFor="let level of levels" [value]="level">
        {{level}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div>
    <div class="row space-between">
      <h3>Next Steps</h3>
      <button mat-button (click)="onAddTaskClick()"><mat-icon>add</mat-icon>Next Step</button>
    </div>
    <mat-accordion class="task-container">
      <app-next-step-edit *ngFor="let control of tasks.controls; index as i" [control]="getNextStepForm(i)" [taskId]="taskForm.get('_id')?.value"></app-next-step-edit>
    </mat-accordion>
  </div>
</form>

<div class="footer" mat-dialog-actions>
  <div class="center-cluster w-100" *ngIf="data.task?._id">
    <app-mark-complete [state]="!data.task?.resolved" (click)="onComplete($event)"></app-mark-complete>
  </div>
  <div class="row w-100">
    <button mat-button class="action-button" *ngIf="data" (click)="delete()"><mat-icon color="warn">delete</mat-icon>Delete</button>
    <button mat-button class="action-button" [disabled]="taskForm.invalid || !taskForm.touched" (click)="submit()"><mat-icon color="accent">save</mat-icon>Save</button>
  </div>
</div>
