.header
    display: flex
    justify-content: space-between
    margin-bottom: 5%

.row
    display: flex
    align-items: center

.space-between
    justify-content: space-between

.task-form
    display: flex
    flex-direction: column
    height: 91%
    max-height: 89%

    .task-container
        

.footer
    .action-button
        width: 48%
        flex: auto 1 0

h3
    margin: 0

