.header
    display: flex
    justify-content: space-between
    margin-bottom: 5%

.row
    display: flex
    align-items: center

.space-between
    justify-content: space-between

.task-form
    display: flex
    flex-direction: column
    height: 85%
    max-height: 89%
        

.footer
    .action-button
        width: 48%
        flex: auto 1 0

    .center-cluster
        margin-bottom: 4%

h3
    margin: 0

