<mat-expansion-panel class="task" >
  <mat-expansion-panel-header>
    <mat-panel-title>{{control.get('comment')?.value}}</mat-panel-title>
    <mat-panel-description class="panel-description">
      <button mat-icon-button color="accent" (click)="onComplete(true)" *ngIf="_id && !control.get('complete')?.value"><mat-icon>check</mat-icon></button>
      <button mat-mini-fab color="accent" (click)="onComplete(false)" *ngIf="_id && control.get('complete')?.value"><mat-icon>check</mat-icon></button>
      <button mat-mini-fab color="warn" *ngIf="overdue && _id && !control.get('complete')?.value"><mat-icon>calendar_month</mat-icon></button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="control">
    <div class="row">
      <mat-form-field class="flex-grow">
        <mat-label>Comment</mat-label>
        <input matInput type="text" formControlName="comment">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="w-50">
        <mat-label>Owner</mat-label>
        <input matInput type="text" formControlName="owner">
      </mat-form-field>
      <mat-form-field class="w-50" [color]="overdue ? 'warn' : 'primary'">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-stroked-button color="accent" class="w-100" (click)="onComplete(true)" *ngIf="_id && !control.get('complete')?.value"><mat-icon>check</mat-icon>Mark Complete</button>
    <button mat-raised-button color="accent" class="w-100" (click)="onComplete(false)" *ngIf="_id && control.get('complete')?.value"><mat-icon>check</mat-icon>Completed</button>

    <button mat-button *ngIf="control.dirty || !control.get('_id')?.value" (click)="onSave()" class="w-100"><mat-icon>save</mat-icon> Save</button>

  </form>
</mat-expansion-panel>

